.SidebarOption {
  display: flex;
  align-items: center;
  height: 35px;
  cursor: pointer;
  transition: 0.2s color ease-in;
  color: rgba(255, 255, 255, 0.686);
}

.SidebarOption:hover {
  color: white;
}

.SidebarOption-icon {
  padding: 0 10px;
  z-index: 1;
}

.SidebarOption > h4 {
  font-size: 14px;
}

.SidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  max-width: 15vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* If the screen size is 1315px wide or less, set the max-width of <p> to 200px */
@media screen and (max-width: 1315px) {
  .SidebarOption > p {
    max-width: 200px;
  }
}

.SidebarOption-liked {
  position: absolute;
  width: 1.9em;
  padding: 0 10px 0 12px;
}
