.InfoCardMBox {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  padding-right: 1.5em;
  margin-bottom: 1.5em;
}

.InfoCardM {
  width: 150px;
  position: relative;
  padding: 16px;
  background: #181818;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.InfoCardM-ImgBox {
  width: 150px;
  height: 150px;
  /* -webkit-box-shadow: 0 -4px 12px rgb(0 0 0 / 50%);
    box-shadow: 0 -4px 12px rgb(0 0 0 / 50%); */
}

.InfoCardM-ImgBox-Artist > img,
.InfoCardM-ImgBox-Album > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.InfoCardM-ImgBox-Artist > img {
  border-radius: 100px;
  height: 150px;
  width: 150px;
}

.InfoCardM-Title {
  display: block;
  margin-top: 16px;
  color: white;
  /* min-height: 62px; */
}

.InfoCardM-Title > h3 {
  margin-bottom: 0.7em;
  margin-top: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.InfoCardM-Title > p {
  font-size: 13px;
  line-height: 1.7em;
  margin-bottom: 1em;
  color: rgb(179, 179, 179);
  /* Show max 2 lines of text */
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.InfoCardM:hover {
  background: hsla(0, 0%, 35%, 0.3);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
}
