.SongCardBox {
  display: flex;
  align-items: center;
  position: relative;
  /* width: 30em; */
  /* padding-right: 2em; */
  /* margin-bottom: 1.5em; */
  width: 30em;
}

.SongCard {
  align-items: center;
  /* position: relative; */
  /* height: 60px; */
  height: 4em;
  width: 27em;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease;
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 0 !important;
}

.SongCard-img {
  width: 60px;
  height: 60px;
  width: 4em;
  height: 4em;
}

.SongCard-img > img {
  width: 100%;
  height: 100%;
  border-radius: 4px 0px 0px 4px;
  object-fit: cover;
}

.SongCard-credits {
  /* flex: 0.7; */
  /* display: flex;
  align-items: center; */
  /* justify-content: space-between; */
  font-size: 12px;
  padding: 5px 10px;
  color: #fff;
}

.SongCard-song-duration,
.SongCard-like,
.SongCard-more {
  position: absolute;
  z-index: 2;
  transform: translate(21em, -0.1em);
}

.SongCard-credits > h3,
.SongCard-credits > p {
  width: 53%;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.SongCard-like,
.SongCard-icons {
  transform: translate(18em);
  display: flex;
  justify-content: space-between;
}

.SongCard-song-duration,
.SongCard-like,
.SongCard-more {
  transform: translate(24em);
  position: relative;
  z-index: 2;
  transform: translate(1em, -2.5em);
  margin-right: 1em;
}

.Playlist-heart-filled:hover,
.Playlist-heart-outline:hover,
.SongCard-more:hover {
  color: white;
}
.SongCard-more:hover {
  color: white;
}
.Playlist-add {
  font-size: 11px;
  background-color: rgb(66, 66, 66);
  width: 8em;
  border-radius: 8px;
  position: absolute;
  position: relative;
  transform: translate(40px, -50px);
  padding: 2px;
  z-index: 90 !important;
}
.Playlist-add > button {
  display: flex;
  justify-content: flex-start;
  font-size: 1em;
  color: white;
  background-color: hsla(0, 0%, 100%, 0.2);
  width: 96%;
  border-radius: 4px;
  border: none;
  padding: 5px 3px;
  margin: 4px 2px;
}
.Playlist-add > button > span {
  width: 96%;
  font-size: 9px;
  padding: 0 2px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}
.Playlist-add > button:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
}
.SongCard:hover {
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
}
