.Home {
  display: flex;
  background-color: #121212;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Home-body {
  flex: 1;
  background: linear-gradient(rgb(91, 87, 115), rgb(0, 0, 0, 1));
  min-height: 100vh;
  overflow-y: overlay;
}

.Home-body::--webkit-scrollbar {
  display: none;
}

.Home-content {
  padding: 0 2em;
}

.Section-title > h2 {
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.Section-cards {
  margin: 2em 0;
}
