.Playlist {
  display: flex;
}

.Playlist-body {
  flex: 0.8;
  background: linear-gradient(rgb(91, 87, 115), rgb(0, 0, 0, 1));
  min-height: 100vh;
  overflow-y: overlay;
}

.Playlist-body::--webkit-scrollbar {
  display: none;
}

.Playlist-info {
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
}

.Playlist-info > img {
  width: 15em;
  height: 15em;
  max-height: 15em;
  margin: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.Playlist-infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
  color: white;
}

.Playlist-infoText > p {
  font-size: 14px;
}

.Playlist-shuffle {
  font-size: 80px !important;
  color: #1ed15e !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Playlist-shuffle:hover {
  color: #21df63 !important;
  transition: transform 0.1s ease-in-out;
  transform: scale(1.05);
}

.Playlist-controls {
  display: flex;
  align-items: center;
  z-index: 1;
  margin: 20px -30px;
}

.Playlist-icons {
  display: flex;
  flex: 0.8;
  align-items: center;
}

.Playlist-icons > .MuiSvgIcon-root:hover {
  color: white;
}

.Playlist-icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.Icon-filled-heart {
  color: #21df63 !important;
}

.Playlist-filter {
  flex: 0.2;
  justify-content: space-between;
}

.Playlist-form {
  width: 11em;
  border: none;
}

.Playlist-body > section {
  background-color: rgb(0, 0, 0, 0.3);
}

.Playlist-songList {
  color: rgba(255, 255, 255, 0.686) !important;
  font-size: 0.9em;
  text-align: left;
  padding: 0 5em 5em 5em;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead > tr {
  border-bottom: 1px solid grey;
}
tbody > tr > td {
  margin: 100px;
}

tbody > tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

td {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 0;
  max-width: 10em;
  -webkit-line-clamp: 2;
  word-break: break-word;
}
