.EditPlaylistForm-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.93);
  z-index: 2;
}

.EditPlaylistForm-child {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  z-index: 3;
}

.create-playlist-title {
  color: white;
  margin: 1em;
  font-size: 2.5em;
}

.create-playlist-grey {
  background-color: rgb(42, 42, 42);
  border-radius: 20px;
  height: 18em;
  padding: 5em;
}

.input-name {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 1em;
}

.playlist-input-name,
.playlist-input-description,
.playlist-input-image {
  font-size: 1.6em;
  font-family: sans-serif;
  color: #1db954;
  background: transparent;
  caret-color: #1db954;
  border: none;
  margin-bottom: 1em;
  text-align: center;
  width: 98%;
}

.playlist-input-name::placeholder,
.playlist-input-description::placeholder,
.playlist-input-image::placeholder {
  color: rgb(95, 95, 95);
}
.playlist-input-image {
  font-size: 1.3em;
}

.EditPlaylistForm-formErrors {
  color: red;
  font-size: 0.5em;
}

.EditPlaylistForm-buttons {
  display: flex;
  justify-content: center;
}

.EditPlaylistForm-buttons > * {
  padding: 1em;
  color: #fff;
  background-color: #1db954;
  font-size: 1em;
  line-height: 1;
  border-radius: 5em;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 109px;
  text-transform: uppercase;
  white-space: normal;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  margin: 2em 1em 0;
  width: 5em;
}

.EditPlaylistForm-cancel {
  border: 2px solid white;
  background-color: black;
}

.EditPlaylistForm-cancel:hover {
  background-color: rgb(49, 49, 49);
}

.EditPlaylistForm-create:hover {
  background-color: #39d46f;
}
