.Footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
}

.Footer-left {
  display: flex;
  flex: 0.3;
  align-items: center;
  color: white;
  width: 300px;
}

.Footer-albumLogo {
  height: 60px;
  width: 50px;
  margin-right: 20px;
  object-fit: contain;
}

.Footer-center {
  display: flex;
  flex: 0.5;
  align-items: center;
  justify-content: space-between;
  color: white;
  max-width: 200px;
  padding: 0 100px;
}

.Footer-green:active {
  color: #1ed15e;
}

.Footer-songInfo > h4 {
  margin-bottom: 5px;
}

.Footer-songInfo > p {
  font-size: 12px;
}

/* make play button bigger */
.Footer-icon {
  color: rgba(255, 255, 255, 0.686);
}

/* make play button bigger */
.Footer-icon:nth-child(3) {
  font-size: 3em !important;
  color: white;
}
.Footer-icon:nth-child(3):hover {
  transition: transform 0.1s ease-in-out;
  transform: scale(1.05);
}

.Footer-icon:hover,
.Footer-green:hover {
  /* transition: transform 0.1s ease-in-out; */
  /* transform: scale(1.1) !important; * to override material ui */
  color: white;
}

.Footer-right {
  display: flex;
  flex: 0.2;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* override material ui slider color */
.progressBar {
  display: flex;
  width: 50px;
  align-items: center;
  position: relative;
}
