.Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px 30px 0 20px;
}

.Header-left {
  display: flex;
  flex: 0.5;
}

.Header-left > button {
  color: white;
  background-color: black;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 25em;
  margin: 5px 4px;
  cursor: pointer;
}

.back-btn {
  transform: rotate(180deg);
}

.Header-right {
  display: flex;
  align-items: center;
}

.Header-right > h4 {
  margin-left: 10px;
}
