.PlaylistCardSBox {
  display: inline-flex;
  position: relative;
  padding-right: 2em;
  margin: 2em 0;
}
.PlaylistCardS {
  position: relative;
  height: 60px;
  width: 20em;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease;
  display: grid;
  grid-template-columns: 60px 1fr;
  margin: 10px auto;
  padding: 0 !important;
}
.PlaylistCardS-ImgBox {
  width: 60px;
  height: 60px;
}
.PlaylistCardS-ImgBox img {
  width: 100%;
  height: 100%;
  border-radius: 4px 0px 0px 4px;
  object-fit: cover;
}
.PlaylistCardS-Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  color: #fff;
}
.PlaylistCardS-Title h3 {
  -webkit-line-clamp: 2;
  word-break: break-word;
}
.PlaylistCardS:hover {
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
}
