.Sidebar {
  flex: 0.2;
  background-color: #040404;
  min-width: 230px;
  max-width: 300px;
  min-height: 100vh;
  padding: 0 10px 0 10px;
  overflow-y: overlay;
}

.Sidebar-nav {
  position: fixed;
  height: 23em;
}

.Sidebar-logo {
  height: 70px;
  padding: 10px;
  margin: auto;
}

.Sidebar-title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.Sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.Sidebar-nav > button {
  font-size: 12px;
  background-color: black;
  border: none;
  padding: 0;
  margin: 0;
}

.Sidebar-playlists {
  position: fixed;
  min-width: 230px;
  max-width: 300px;
  top: 23em;
  bottom: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 95px;
}
